/*TODAS LAS PANTALLAS*/
*{
    font-size: 0.9rem;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.fa {
    color: red;
}

/*LOGIN*/
#b_login {

}

#div_login{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) !important;
    text-align: center;
}

.ui-fieldset .ui-fieldset-legend{
    text-decoration: none;
    background: white;
    border: none;
    font-size: 1.5em;
}

/*TEMPLATE PRINCIPAL PRINCIPAL*/ 

#div_header {

    width: 100%;
    /*  margin: 1% 0;*/
    padding: 0 0 1% 0;
}

#div_btnSidebar {
    margin-bottom: 1em;
    border: none;
    width: 1%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    
    z-index: 500;
}

#div_solicitud{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) !important;
    text-align: center;
}

#div_contenido {

}
#sidebar {
    overflow: scroll;
}

#notificationBar{
    filter:alpha(opacity=80);
    opacity:0.8;
    padding:50px 0 0 50px;
    z-index: 1000;
}

.banner {
    padding: 0;
    margin: 0;
    background: #cc0000;
    color:#fff;
}

#titulo {
    font-size: 1.4rem;
    font-weight: bolder;
}

#subtitulo {
    font-size: 1rem;
    font-weight: bold;
}

#userDiv{
    text-align: right;
    font-size: 1.1rem;
    font-weight: bolder;
    color:#fff;
}

.ui-menubar .ui-menuitem-text {
    font-size: 1.1rem !important;
    font-weight: 600;
}

.ui-menuitem-text:selected {
    text-decoration: underline;
}

.ui-steps .ui-steps-item {
    width: 25%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.custom {
    margin-bottom: 60px;
    margin-top: 60px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 0px;
    padding: 0 1em;
    overflow: visible;
    border: 1px solid #c8c8c8;
    display: block;
    background-color: #FFFFFF;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 40px;
    border-radius: 100px;
    margin-top: -20px;
    margin-bottom: 10px;
    position: relative;
    top: -4px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-title {
    margin-top: -6px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-title {
    color: #555;
}

.ui-datatable .ui-state-highlight {
    background-image: none;
    background-color: aliceblue;
    font-weight: bold;
    color: black;
    border: cornflowerblue;
}