/*TODAS LAS PANTALLAS*/
*{
    font-size: 0.9rem;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.fa {
    color: red;
}

/*LOGIN*/
#b_login {
     
}

#div_login{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) !important;
    text-align: center;
}

.ui-fieldset .ui-fieldset-legend{
    text-decoration: none;
    background: white;
    border: none;
    font-size: 1.5em;
}

/*TEMPLATE PRINCIPAL PRINCIPAL*/ 

#div_header {

    width: 100%;
    /*  margin: 1% 0;*/
    padding: 0 0 1% 0;
}

#div_btnSidebar {
    margin-right: 0;
    margin-bottom: 1em;
    border: none;
}

#div_contenido {

}
#sidebar {
    overflow: scroll;
}

.banner {
    padding: 0;
    margin: 0;
    background: #cc0000;
    color:#fff;
}

#titulo {
    font-size: 1.4rem;
    font-weight: bolder;
}

#subtitulo {
    font-size: 1rem;
    font-weight: bold;
}


.ui-menubar .ui-menuitem-text {
    font-size: 1.1rem !important;
    font-weight: 600;
}

.ui-menuitem-text:selected {
    text-decoration: underline;
}
